body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body{width: 100%;height: 100%;}
li{
  list-style-type: none;
}
$blue:#016BD1;    //#016BD1
$green:#00CD01;

@mixin border-radius($num){
  -webkit-border-radius: $num;
  -moz-border-radius: $num;
  border-radius: $num;
}
.logo{
  width: 160px;
  height: 100px;
  img {
    width: 100%;
    height: 100%;
  }
}
.navbar{
  height: 100px;
}
#context{
  display: flex;

  .l-side{
    position: relative;
    top: 0;
    width: 180px;
    min-width: 180px;
    height: 800px;

    .self-info{
        border: 1px solid $blue;
        padding-left: 30px;
        padding-bottom: 10px;
        @include border-radius(5px);

        h5{
          margin-top: 10px;
          div{
            width: 12px;height: 12px;display: inline-block;background-color: $green;margin-top: 8px;
            @include border-radius(14px);
          }
        }
      ul{
        margin-top: 10px;
        li{
          width: 100%;height: 22px;line-height: 22px;
          a{
            color: inherit;
            &:hover{
              text-decoration: no-underline;
            }
          }
        }
      }
    }
    .all-talk{
      padding: 10px 0 10px 0px;
      margin-top: 2px;
      @include border-radius(5px);
      border: 1px solid $blue;
      ul{
        li{
          width: 90%;
          margin-left: 5%;
          height: 24px;
          line-height: 24px;
          border-bottom: 1px solid $blue;
        }
      }
    }
  }
  .r-side{
    min-width: 700px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 0;
    flex: 1;
    width: 200px;
    height: 800px;
  }
}






















