<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>仿新浪首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/bootstrap.min.js"></script>
    <style>
        #context .r-side{display: flex;}

    </style>
</head>
<body>
<%- include nav %>

        <!--这是<%=  page  %>-->
        <div class="blocks">
            <div class="block-content">
                <div class="title"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>信息社会</div>
                <div class="block-inside">
                    <ul id="index-social" class="index-tabs">
                        <li ><a href="#" role="button" >版面列表</a></li>
                        <li ><a href="#" role="button" >热门话题</a></li>
                    </ul>
                    <ul>
                        <li><a href="">[职场人生]</a>1金杜律师事务所和汉得信息offer求比较</li>
                        <li><a href="">[考研专版]</a>1金杜律师事务所和汉得信息offer求比较</li>
                        <li id="abc"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="block-content">
                <div class="title"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>十大热门</div>
                <div class="block-inside">
                    <ul>
                        <li><a href="">[职场人生]</a>2金杜律师事务所和汉得信息offer求比较</li>
                        <li><a href="">[考研专版]</a>2金杜律师事务所和汉得信息offer求比较</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blocks">
            <div class="block-content">
                <div class="title"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>贴图秀</div>
                <div class="block-inside">
                    <ul>
                        <li><a href="">[职场人生]</a>3金杜律师事务所和汉得信息offer求比较</li>
                        <li><a href="">[考研专版]</a>3金杜律师事务所和汉得信息offer求比较</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blocks">
            <div class="block-content">
                <div class="title"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>学术科技</div>
                <div class="block-inside">
                    <ul>
                        <li><a href="">[职场人生]</a>4金杜律师事务所和汉得信息offer求比较</li>
                        <li><a href="">[考研专版]</a>4金杜律师事务所和汉得信息offer求比较</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>


<%- include nav-foot.ejs %>
<script type="text/babel">

/*
ReactDOM.render(
    <h1>Hello, world!</h1>,
    document.getElementById('abc')
  );*/
</script>



</body>
</html>