<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>仿新浪浏览页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

    <!-- Brand and toggle get grouped for better mobile display -->
<%- include nav %>

    这是<%=  page  %>


<%- include nav-foot.ejs %>
</body>
</html>